.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

 /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.noto-serif-content {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}

.highlight{
  background-color: #FFB5B5;
  color: black;
  margin: 2px 2px 2px 2px;
}

.url{
  color: #3C3C3C;
}


.self-introduction{
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); 
  }

  .card img {
    width: 100%;
    height: 331px;
    display: block;
    object-fit: cover; 
  }


  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .card-label, .card-title{
    margin-top: auto; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: inline-block; 
    font-size: 16px;
    padding: 10px;
  }

  .card-label{
    font-weight: 500;
  }

  .card-title {
    display: none;
    font-style: italic;
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
    transform: translateY(-5px); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }

  .card:hover .card-title {
    display: block; 
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-group {
    margin-bottom: 16px;
  }
  
  .btn {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 3px 3px; 
    border-radius: 20px;
  }
  
  

  .btn.active {
    background-color: #333;
    color: #fff;
  }

  .btn:hover{
    background-color: #aaa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); 
    transform: translateY(-3px); 
    transition: transform 0.2s, box-shadow 0.2s; 
  }


  .modal-label{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 5px;
    
  }

  .modal-title {
    margin-top: 0; 
}

.modal-credit {
  font-size: 14px;
  background-color: #ccc;
  color: #333;
  padding: 3px 10px;
  margin: 2px 2px 2px 2px;
  /* margin-right: 1px;
  margin-bottom: 1px;  */
  border-radius: 5px;
  display: inline-block;
}

.modal-image:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
    transform: translateY(-5px); 
    transition: transform 0.1s, box-shadow 0.1s; 
}

.modal-category {
  font-size: 14px;
  background-color: #333;
  color: #fff;
  padding: 3px 10px;
  margin: 2px 2px 2px 2px;
  /* margin-right: 1px;
  margin-bottom: 1px;  */
  border-radius: 5px;
  display: inline-block;
  
}

.modal-categories, .modal-date {
    display: inline-block;
}

.my-credits-title,.modal-credits{
  display: inline-block;
}